:root {
    --header-bar: #262626;
    --header-highlight: #e55a48;
    --light-text: white;
    --background-grad1: #622475;
    --background-grad2: #3f3731;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    background-image: radial-gradient(var(--background-grad1), var(--background-grad2));
    color: var(--light-text);
}

/* Header/Navigation Bar */
header {
    background: var(--header-bar);
    justify-content: space-between;
    align-items: center;
}

.flex-container {
    display: flex;
}

header h1 {
    background: var(--header-highlight);
    width: 260px;
    color: var(--header-bar);
    font-size: 32pt;
    font-weight: bold;
}

nav ul li {
    list-style-type: none;
    margin: 0 15px 0 45px;
}

a {
    text-decoration: none;
    color: var(--header-highlight);
}

nav ul li a {
    color: var(--light-text);
}

/* Main */
section {
    margin: 50px;
    background: var(--header-bar);
    opacity: 75%;
    border-radius: 15px;
    padding: 50px;
    position: relative;
}

main h2 {
    background: var(--header-highlight);
    width: 375px;
    position: absolute;
    right: 50px;
    margin: 0;
    color: var(--header-bar);
    text-align: right;
}

/* About */
#about img {
    height: 250px;
    width: 250px;
    float: right;
    margin-top: 50px;
}

#about p {
    height: 250px;
    margin: 50px 300px 0 0;
    line-height: 24pt;
    font-size: 12pt;
    font-weight: 500pt;
}

/* Work */
#cards {
    margin-top: 50px;
}

figure {
    margin: 0;
}

figure img {
    height: 361px;
    width: 768px;
    border: 1px dashed var(--header-highlight);
}

figure img:hover {
    opacity: 0.75;
}

figcaption {
    line-height: 24pt;
    font-size: 12pt;
    font-weight: 500pt;
}

/* Contact/Links, Resume */
main ul {
    margin-top: 50px;
    padding-left: 15px;
}

main ul li {
    line-height: 24pt;
    font-size: 12pt;
    font-weight: 500pt;
    list-style-type: circle;
}

/* Tablets */
@media screen and (max-width: 1130px) {
    #about {
        height: 425px;
    }
}

@media screen and (max-width: 992px) {
    nav ul li {
        margin: 0 5px 0 10px;
    }

    #about img {
        height: 200px;
        width: 200px;
    }
    
    #about p {
        height: 200px;
        margin: 50px 155px 0 0;
        line-height: 18pt;
    }

    figure img {
        height: 225.625px;
        width: 480px;
    }
}

/* Smartphones */
@media screen and (max-width: 768px) {
    header {
        height: 350px;
        width: 100%;
        position: relative;
    }

    .flex-container {
        display: inline-block;
    }

    nav ul {
        position: absolute;
        right: 5px;
    }

    nav ul li {
        text-align: right;
    }

    section {
        margin: 25px;
        padding: 25px;
    }

    main h2 {
        width: 225px;
        right: 25px;
    }

    #about {
        height: 500px;
    }

    #about img {
        height: 150px;
        width: 150px;
    }

    #about p {
        height: 150px;
        margin: 50px 105px 0 0;
        line-height: 16pt;
    }

    figure img {
        height: 169.21875px;
        width: 360px;
    }
}